@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

#root {
  font-family: 'Lexend', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* navbar */
.nav-link-custom {
  position: relative;
  color: inherit; 
  cursor: pointer;
  transition: color 0.3s;
}

/* Hover state */
.nav-link-custom:hover {
  color: #015CA8;
}

/* Add bottom border on hover */
.nav-link-custom::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #015CA8;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Expand the border when hovered */
.nav-link-custom:hover::after {
  width: 100%;
}

/* Optional: active state */
.nav-link-custom:active {
  color: #015CA8;
}

/* button */
.btn-primary {
  background-color: #015CA8;
  border-color: #015CA8;
  color: #fff;
  font-family: 'Lexend', sans-serif;
  transition: background-color 0.3s;
  font-weight: 500;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #01497a; 
  border-color: #01497a;
  color: #fff;
  font-weight: 500;
}

.btn-border {
  background-color: transparent;
  border: 1px solid #015CA8;
  color: #015CA8;
  font-family: 'Lexend', sans-serif;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s;
  font-weight: 500;
}

.btn-border:hover,
.btn-border:focus {
  background-color: #015CA8; 
  color: #fff;
  border-color: #015CA8;
  font-weight: 500;
}

/* padding */
.mx-10 {
    margin-right: 6.25rem !important;
    margin-left: 6.25rem !important;
}

.my-10 {
    margin-top: 6.25rem !important;
    margin-bottom: 6.25rem !important;
}